<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>


<!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">



</head>
<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Your Parser</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request/">Выбери вакансию</a>
          </li>
    <!--      <li class="nav-item">
            <a class="nav-link" href="/results/">Результаты поиска</a>
          </li>     -->
          <li class="nav-item">
            <a class="nav-link" href="/contacts/">Мы всегда вам рады</a>
              <span class="sr-only">(current)</span>
          </li>

        </ul>
      </div>
    </div>
  </nav>
<br>

<div class="alert alert-secondary" role="alert">
    <br>
    <br>
   <!-- <p align="center"
            <h4>Присылайте ваши пожелания:</h4>
    </p>  -->
    <h4 align="center">Присылайте ваши пожелания:</h4>
     </div>

<p align="center">{{name}}</p>




</body>
</html>